body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E9E8E8;
    color: #151515;
    scroll-behavior: smooth;
}

.start {
    font-weight: 600;
    padding-left: 40px;
}

h2 {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 600;
    color: #151515;
}

/* .securities .card { */
/* background: linear-gradient(91deg, #2d2a2a 0%, #151515 100%), url('../../images/stock_market.jpeg'); */
/* background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.347)),
        url('../../images/stock_market.jpeg'); */
/* border-radius: 15px; */
/* background: linear-gradient(91deg, #2d2a2a 0%, #151515 100%); */
/* color: #E9E8E8;
    height: 140px; */
/* border: 1.5px solid #A9C52F; */
/* border: 1.5px solid #151515;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: relative;
} */

/* .securities .c1 {
    background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.347)),
        url('../../images/stock_market.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.securities .c2 {
    background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.347)),
        url('../../images/stm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.securities .c3 {
    background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.347)),
        url('../../images/futuristic-stock-market-background-with-trend-graph_83282-38.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.securities .c4 {
    background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.5)),
        url('../../images/stock_market.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.securities .card p {
    position: absolute;
    left: 15px;
    bottom: 0;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1.3px;
} */

.learn .card {
    background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.562)),
        url('../../images/mainscreen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    color: #E9E8E8;
    height: 300px;
    /* border: 0.5px solid rgb(104, 101, 101); */
    border: 1.5px solid #151515;

}

.card:hover {
    box-shadow: 0 22px 44px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border: 2px solid #E9E8E8;
    transition: 0.3s ease-in;
    box-shadow: none;
}

.learn .card p {
    position: absolute;
    left: 25px;
    bottom: 20px;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1.3px;
}

.learn .banner {
    background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.562)),
        url('../../images/dashboard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    /* position: fixed; */
    background-attachment: fixed;
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 70px;
    font-family: 'Josefin Sans', sans-serif;
    color: #151515;
    font-weight: 600;
    margin-bottom: 50px;
}

.headi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnr {
    text-align: right;
    padding-right: 40px;
}

.view {
    margin-top: 20px;
    text-align: right;
    border: 2px solid #151515;
    border-radius: 15px;
    background-color: #E7DECE;
    font-size: 20px;
    padding: 7px 10px 7px 10px;
}

.view:hover {
    background-color: #151515;
    color: #E7DECE;
    border: 1.5px solid #E9E8E8;
    transition: 0.4s ease;
    text-shadow: 0px 0px 6px #E9E8E8;
    transition: 0.3s ease;
    box-shadow: 0 22px 44px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* A9C52F */